<span class="upcoming-item"><%=image_tag('iphone.jpg')%><%=image_tag('ps3psp.jpg')%><%=image_tag('ipad.jpg')%><%=image_tag('mac.jpg')%><%=image_tag('bug.jpg')%></span><br>
<span class="pitch">Try Your Luck!...<span style="color:#E47911;">Don't win?</span>..Loose Nothing.</span>