 <div class="wrapper"></div>
<div class="container">
<h3>All Products</h3>
<% if flash[:error]%>
  <div class="note"> <%=flash[:error]%></div>
     <%end%>
<p>
<%@products.each do |product|%>
<div class="item-box">
  <a href="/products/<%=product.id%>"><%=product.name%></a><br>
  <span class="item-image"> <%=image_tag (product.image_url.to_s )%></span><br>
  <%=product.minimum_price - product.tokens.count %> tokens to be purchased<br>
  Get it for a $<%=number_with_precision(product.price,:precision=>2)%><br>
  </div>
  <%end%>

</p>
</div>