 <div class="view-container">
 <% if flash[:notice]%>
  <div class="notice"> <%=flash[:notice]%></div>
     <%end%>
     <div>
     <% if current_user.address.nil? %>
      <div class="error">Please update your address  <%=link_to "Update Address",:controller=>"products",:action=>"shipping_address" %></div>
     <%end%>
     </div>
    <b> Hi, <%=current_user.username%></b>
  <div class="no-profile-pic"><%=image_tag("no_profile_picture.jpg")%></div>
<div class="account-box">
<h3>You have $<%=@my_credits%> Total credits</h3>
Want to use your credits?<%=link_to "Buy Now",:controller=>"products",:action=>"buy_now"%>
</div>

<div class="account-box">
<h3>Personal Information</h3>
Edit/update your Information <%=button_to "Edit Basic Info",:controller=>"products",:action=>"basic_info",:class=>"basic-info-button"%>
</div>
 
<div class="clear"></div>

<div style="float:left;width:400px;margin-top:10px;">
<div class="my-account-bar">Current Games</div>
<%unless @my_games.empty?%>
      
<% @my_games.each do |game| %>
  <% unless @id_values==game.product.id%>
    <% if game.product.active && game.product.price ==1.0 %>
    <%@id_values=game.product.id%>
   <a class="item-name" href="/products/<%=game.product.id%>"><%=game.product.name %></a><br>
    <%=image_tag (game.product.image_url.to_s )%><br>
   
  <span class="tokens-alert"> <%=game.product.minimum_price - game.product.tokens.count %> tokens has to be purchased for the game to start</span><br>
   <b> Your tokens:</b><br>
     <%=game.unique_token %><br>
      <div  class="test ui-helper-hidden"><%=game.product.name%></div>
     <div id="test2">Invite A Friend</div>
     <div class="line-separator"></div>
       <%end%>
     <%end%>
    
  <%end%> 
  <%else%> 
   <div class="no-item">Currently you are not participating in any game </div> 
 <%end%> 
 </div>

 <div style="float:left;width:400px;margin-top:10px;margin-left:25px;">
<div class="my-account-bar">Previously Participated Games</div>

<%unless @my_games.empty?%>

  <% @my_games.each do |game| %>
   
   <% unless @id_value==game.product.id%>
         <% unless game.product.active  %>
           <%if  game.product.price == 1.0 %>
           <%@id_value=game.product.id%>
          <b> <%=game.product.name %></b><br>
           <%=image_tag (game.product.image_url.to_s )%><br>
          <b>winner was</b><span class="winner"> <%=game.product.winner%></span><br>
         <span class="token-spent">spent <%=Token.where(:user_id=>User.find_by_username(game.product.winner).id,:product_id=>game.product.id).count%> tokens</span><br>
               <div class="line-separator"></div>
              <%end%>
         <%else%>
          <!--You dont have any previous Games-->
         <%end%>
    <%end%>
  <%end%>
<%else%>
  <div class="no-item"> You dont have any previous Games</div>

<%end%>
</div>

</div>