 <% if flash[:notice]%>
  <div class="note"> <%=flash[:notice]%></div>
     <%end%>
     <div>
     <% if current_user.address.nil? %>
      Please update your address  <%=button_to "Update Address",:controller=>"products",:action=>"direct_to_update_address"%>
     <%end%>
     </div>
     <%=button_to "Edit Basic Info",:controller=>"products",:action=>"basic_info"%>
    
<p>
$<%=@my_credits%>Total credits
Want to use your credits?<%=link_to "Buy Now",:controller=>"products",:action=>"buy_now"%>
Ongoing Games<br>
<%unless @my_games.empty?%>
      
<% @my_games.each do |game| %>
  <% unless @id_values==game.product.id%>
    <% if game.product.active && game.product.price ==1.0 %>
    <%@id_values=game.product.id%>
   <%=game.product.name %><br>
    <%=image_tag (game.product.image_url.to_s )%><br>
   <%=game.product.price %><br>
   <%=game.product.description %><br>
   
   <%=game.product.minimum_price - game.product.tokens.count %> tokens has to be purchased for the game to start<br>
    Your tokens:<br>
     <%=game.unique_token %><br>
      <div  class="test ui-helper-hidden"><%=game.product.name%></div>
     <div id="test2">Invite A Friend</div>
       <%end%>
     
   <%end%>
    
  <%end%> 
  <%else%> 
   Currently you are not participating in any game  <br>
 <%end%> 
 


previously participated lottery<br>

<%unless @my_games.empty?%>

  <% @my_games.each do |game| %>
   
   <% unless @id_value==game.product.id%>
         <% unless game.product.active  %>
           <%if  game.product.price == 1.0 %>
           <%@id_value=game.product.id%>
           <%=game.product.name %>
           <%=image_tag (game.product.image_url.to_s )%><br>
           <%=game.product.price %><br>
           <%=game.product.description %><br>
           winner was <%=game.product.winner%><br>
            spent <%=Token.where(:user_id=>User.find_by_username(game.product.winner).id,:product_id=>game.product.id).count%> tokens
              <%end%>
         <%else%>
          <!--You dont have any previous Games-->
         <%end%>
    <%end%>
  <%end%>
<%else%>
   You dont have any previous Games

<%end%>
</p>