 <div class="view-container">
<p>
<div class="update-address" >Update Shipping Address</div >
<div class="line-update"></div>
<%= form_for @user ,:url=>{:action =>"update_address"} do |f|%>
<% if @user.errors.any?%>
<% @user.errors.full_messages.each do |error| %>
    <%= error %>
  <% end %>
<%end%>
<table>
<tr><td>Address Line 1</td><td> <%=f.text_field :address %></td></tr>
 <tr><td>Address Line 2 </td><td><%=f.text_field :address2 %></td></tr>
<tr><td>City </td><td><%=f.text_field :city %></td></tr>
 <tr><td>State</td><td><%=f.text_field :state %></td></tr>
 <tr><td>Zipcode</td><td><%=f.text_field :zipcode %></td></tr>
 <tr><td><%=f.submit "submit" %></td></tr>
 </table>
<%end%>
</p>
<%=button_to "Ask me later",:controller=>"products",:action=>"skip"%>
</div>