
<div class="view-container">
<h2> Game ID:<%=@product.id%></h2>
<% if flash[:notice]%>
  <div id="flash_notice"> <%=flash[:notice]%></div>
     <%end%>
<p>
 <% if @product.price == 1 %>
 <div class="view-item-box">
<h3><%=@product.name%></h3>
<span class="view-item-image"> <%=image_tag (@product.image_url.to_s )%></span><br>
<b>Buy tokens below and</b><br>
Win it for $<%=number_with_precision(@product.price,:precision=>2)%><br>
<span class="tokens-alert"><%=@product.minimum_price - @product.tokens.count %> tokens to be purchased for the game to start
</span>
<div  class="test ui-helper-hidden"><%=render 'invite_friend'%></div>
     <div id="test2" title="Share this with your Friends">Invite A Friend</div>
</div>

<div class="view-description">
<h3>Product Details</h3>
<span><b>Retail Price:</b>$350</span>
<span><b>Saving:</b>99% OFF</span>
<span><b>Condition:</b>New</span>
<span><b>Item Description:</b><%=@product.description%></span>
<span><b>Features:</b><%=simple_format(@product.features,:sanitize=>false)%></span>
<span><b>Shipping:</b>FREE</span>
<span><b>Return Policy:</b>If you dont win, your money will be accredited back in your buckpile account as an online currency.Purchased Tokens wont be refunded </span>
</div>
   
 </p>
<div class="clear"></div>

 <p>
 <div class="line"></div>
 <div style="font-weight:bold;font-size:18px;">Enroll In The Game</div>
 <div class="payment-box">

 <b>Buy atleast one token for $1.00 to be registered  in the game</b>
 <div class="payment-form-line"></div>
 <table id="pay-form" >
  <%= form_for @token ,:url=>{:controller=>"token",:action =>"create"} do |f| %>
 <tr><td> <label>Quantity of tokens</label></td><td><%= f.text_field :buck ,:size=>"5"%></td></tr>
  <%= f.hidden_field :stripe_card_token %>
  <div class="field">
    <%= f.hidden_field :product_id,:value=>@product.id %>
    <%if user_signed_in? %>
    <%= f.hidden_field :user_id,:value=>current_user.id %>
    <%end%>
  </div>  
    
  <% if @token.stripe_card_token.present? %>
  Credit card has been provided.
  <% else %>
  <div class="field">
     <tr><td> <%= label_tag :name, "Name on the card " %></td>
      <td><%= text_field_tag :name, nil, name: nil %></td></tr>
  </div>
  <div class="field">
     <tr><td> <%= label_tag :card_number, "Credit Card Number " %></td>
      <td><%= text_field_tag :card_number, nil, name: nil %></tr></td>
  </div>

  <div class="field">
     <tr><td> <%= label_tag :card_code, "Security Code on Card (CVV)" %></td>
      <td><%= text_field_tag :card_code, nil, name: nil %></tr></td>
  </div>
  <div class="field">
   <tr><td> <%= label_tag :card_month, "Card Expiration" %></td>
    <td><%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}%>
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}%></tr></td>
  </div>
  <%end%>
   </table>
<div class="terms-check">
   <%=render 'terms_check'%>
  </div>
  <%=check_box_tag 'accept'%>I accept
 
  <div id="stripe_error">
  <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>

  <div class="actions"><%= f.submit  "Pay Securely" %></div>
  <% end %>
</div>

<div style="float:left;margin-left:20px;">
 <div class="order-total">Order Total<span class="cart"><%=image_tag('cart.png')%></span></div>
<table id="order">
<tr><a class="item-name" href="#"><%=@product.name%></a></tr>
<tr><td>No: of Tokens</td><td id="order">0</td></tr>
<tr><td>Shipping & Handling</td><td>$0.00</td></tr>
<tr><td >Tax </td><td> $0.00</td></tr>
<tr><td class="total">Total <span style="float:right">$</span></td><td id="price" class="total">0.00</td></tr>
</table>

</div>
<div class="clear"></div>
<div class="cards"><%=image_tag('visa.jpg')%><%=image_tag('mastercard.jpg')%><%=image_tag('amex.jpg')%><%=image_tag('discover.jpg')%></div>

<%elsif @product.price > @my_credits.to_f %>
<div class="clear"></div>
<div class="error">You dont have sufficient credits, Please pay the difference amount.  </div>
<p>
<div class="view-item-box">
   <h3><%=@product.name%></h3>
   <span class="view-item-image"><%=image_tag (@product.image_url.to_s )%></span>
   </div>
   

    <div class="view-description">
<h3>Product Details</h3>
<span><b>Retail Price:</b>$350</span>
<span><b>Condition:</b>New</span>
<span><b>Item Description:</b><%=@product.description%></span>
<span><b>Features:</b><%=simple_format(@product.features,:sanitize=>false)%></span>
<span><b>Shipping:</b>FREE</span>
<span><b>Return Policy:</b>If you dont win ,your money will be accredited back in your buckpile account as an online currency.Purchased Tokens wont be refunded </span>

</div>
</p>
<div class="clear"></div>
 <div class="line"></div>
 <div class="payment-box">
<b>Pay the difference amount indicated below</b>
 <div class="payment-form-line"></div>
 <table id="pay-form" >
      <%= form_for @token ,:url=>{:controller=>"token",:action =>"pay"} do |f| %>

  <%= f.hidden_field :stripe_card_token %>
  <div class="field">
    <%= f.hidden_field :product_id,:value=>@product.id %>
    <%if user_signed_in? %>
    <%= f.hidden_field :user_id,:value=>current_user.id %>
    <%end%>
  </div>  
    
    <div class="field">
    <tr><td><%= label_tag :name, "Amount " %>
     </td>
      <td> <%= f.text_field :buck, :value =>number_with_precision(@amount_difference,:precision=>2),:size=>"20",:class=>"amount" %></td></tr>
  </div>

  <% if @token.stripe_card_token.present? %>
  Credit card has been provided.
  <% else %>
  <div class="field">
      <tr><td><%= label_tag :name, "Name on the card " %>
      </td>
      <td><%= text_field_tag :name, nil, name: nil %></td></tr>
  </div>
  <div class="field">
     <tr><td> <%= label_tag :card_number, "Credit Card Number " %>
      </td>
      <td><%= text_field_tag :card_number, nil, name: nil %></td></tr>
  </div>

  <div class="field">
      <tr><td><%= label_tag :card_code, "Security Code on Card (CVV)" %>
      </td>
      <td><%= text_field_tag :card_code, nil, name: nil %></td></tr>
  </div>
  <div class="field">
    <tr><td><%= label_tag :card_month, "Card Expiration" %>
    </td>
      <td><%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}%>
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}%>
    </td></tr>
  </div>
  <%end%>
   </table>
   <div class="terms-check">
   <%=render 'terms_check'%>
  </div>
  <%=check_box_tag 'accept'%>I accept
  <div id="stripe_error">
  <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
  <div class="actions"><%= f.submit "Pay Securely" %></div>

  <% end %>
 
  </div>
  <div style="float:left;margin-left:20px;">
 <div class="order-total">Order Total<span class="cart"><%=image_tag('cart.png')%></span></div>
<table id="order">
<tr><td><a class="item-name" href="#"><%=@product.name%></td><td>$<%=number_with_precision(@amount_difference,:precision=>2)%></td></a></tr>
<tr><td>Quantity</td><td>1</td></tr>
<tr><td>Shipping & Handling</td><td>$0.00</td></tr>
<tr><td >Tax </td><td> $0.00</td></tr>
<tr><td class="total">Total </td><td  class="total">$<%=number_with_precision(@amount_difference,:precision=>2)%></td></tr>
</table>

</div>
<div class="clear"></div>
<div class="cards"><%=image_tag('visa.jpg')%><%=image_tag('mastercard.jpg')%><%=image_tag('amex.jpg')%><%=image_tag('discover.jpg')%></div>

<%else%>
    <p>
   <div class="view-item-box">
   <h3><%=@product.name%></h3>
   <span class="view-item-image"><%=image_tag (@product.image_url.to_s )%></span>
   <%=button_to "Redeem",:controller=>"products",:action=>"buy"%>
   </div>
   

    <div class="view-description">
<h3>Product Details</h3>
<span><b>Retail Price:</b>$350</span>
<span><b>Condition:</b>New</span>
<span><b>Item Description:</b><%=@product.description%></span>
<span><b>Features:</b><%=simple_format(@product.features,:sanitize=>false)%></span>
<span><b>Shipping:</b>FREE</span>
<span><b>Return Policy:</b>If you dont win ,your money will be accredited back in your buckpile account as an online currency.Purchased Tokens wont be refunded </span>

</div>
</p>
<%end%>
</p>

</div>